h1{
  color: #40291C;
}

h2{
  color: #8C6249;
}

h3{
  color: #BF8665;
}

#output{
  background-color: #D9969B;

}
#content{
  background-color: #F2CCB6;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px #abd98c;
  font-size: 20px
}
#car{
  float: right;

}
