body{
  background-color: #2a2e70;
}

p, h1, h2, h3{
  color: #ffffff;
}

h3{
  font-size: 40px;
}


.special{
background-color: red;
}
.specialer{
  background-color: orange;
}
.specialler{
  background-color: green;
}
