#lab9b{
  height: 350px;
  width: 250px;
}
#lab9af{
  height: 350px;
  width: 250px;
  align: right;
}
#lab12b{
  height: 350px;
  width: 250px;
}
#lab12af{
  height: 350px;
  width: 250px;
  align: right;
}
