h1{
  color: #592115;
  font-style: bold;
  font-family: courier;
}

h2{
  color: #F25C05;
  font-style: bold;
  font-family: courier;
}

h3{
  color: #592115;
  font-style: bold;
  font-family: courier;
}

p{
  color: #592115;
  font-style: normal;
  font-family: courier;
}

body{
  background-color: #F2C879;
  padding: 10px;
  margin: 10px;
  border: solid 5px #F2B705;
  font-size: 20px
}
